<h1>Register a New User</h1>

<%= form_for :user, url: users_path do |u| %>
  <p>
    <%= u.label :username %><br>
    <%= u.text_field :username %>
  </p>

  <p>
    <%= u.label :password %><br>
    <%= u.text_field :password %>
  </p>

  <p>
    <%= u.label :password_confirmation %><br>
    <%= u.text_field :password_confirmation %>
  </p>

  <p>
    <%= u.submit %>
  </p>
<% end %>
