<h1>The new book you just added</h1>

<p>
  <strong>Added by:</strong>
  <% addedBy = User.find_by(:id => @book.user_id)%>
  <%= addedBy.username %> <!-- That actually worked! holy shit! :O!!! -->
</p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>Description:</strong>
  <%= @book.description %>
</p>

<p>
  <strong>URL:</strong>
  <%= @book.url %>
</p>

<%= link_to 'Back to all books' , {:action=>"index", :controller=>"books"} %>
